*{
    padding:0;
    margin:0;
    font-family: Helvetica;
}

html,body{
    height: 100%;
    min-height: 100%;

}

body{
    background: #111;

}

#wrap{
    min-height:100%;
    width:80%;
    padding:1rem;
    margin:auto;

}


#grid-container{
    display:grid;
    grid-template-areas:'sidebar main main';
    grid-template-rows: 100%;
    grid-template-columns: 200px auto auto;
    box-shadow: 0px 0px 4px #010101;
    background-color:#010101;
    border-radius:2px;
    min-height:100%;
}

#sidebar{
    display:grid;
    grid-template-areas:'logo'
                        'usermenu'
                        'menu'
                        'pagemenu';
    grid-template-rows: 50px 50px 100px  auto;
    grid-area:sidebar;


}

#sidebar h1{
    font-size:16pt;
    color:#222;
    text-shadow:1px 1px 0px rgba(200,200,200,0.1);
}

#sidebar sub{
    color:#222;
    text-shadow:1px 1px 0px rgba(200,200,200,0.1);

}

#logo{
    grid-area:logo;
    background-color:#777;
    border-radius:2px 0px 0px 2px;
    border-right:1px solid #888;
    padding:.5rem;
}

#menu{
    margin-top:5px;
    grid-area:menu;
    background-color:#777;
    border-radius:2px 0px 0px 2px;
    border-right:1px solid #888;
    padding:.5rem;
}

.menu ul li{
    list-style: none;
    padding:3px;
}


.menu ul li a{
    text-decoration:none;
    color:#222;
    text-shadow:1px 1px 0px rgba(200,200,200,0.1);
}

.menu ul li a:hover{

    text-shadow:1px 1px 0px rgba(200,200,200,1);
}

#usermenu{
    margin-top:5px;
    background-color:#777;
    border-radius:2px 0px 0px 2px;
    border-right:1px solid #888;
    padding:.5rem;
}

#pagemenu{
    margin-top:5px;
    background-color:#777;
    border-radius:2px 0px 0px 2px;
    border-right:1px solid #888;
    padding:.5rem;

}

main{
    grid-area:main;
    background-color:#999;
    border-radius:0px 2px 2px 0px;
    padding:.5rem;
}