RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^home/?$    ?p=home    [NC,L]
RewriteRule    ^login/?$    ?p=login    [NC,L]
RewriteRule    ^logout/?$    ?p=logout    [NC,L]
RewriteRule    ^profile/?$    ?p=profile    [NC,L]
RewriteRule    ^forum/?$    ?p=forum    [NC,L]
RewriteRule    ^about/?$    ?p=about    [NC,L]
RewriteRule    ^contact/?$    ?p=contact    [NC,L]
RewriteRule    ^404/?$    ?p=404    [NC,L]

# ADMIN PANEL LINKS
RewriteRule    ^admin/?$    ?p=admin    [NC,L]
RewriteRule    ^admin/adduser?$    ?p=admin&a=adduser    [NC,L]
RewriteRule    ^admin/edituser?$    ?p=admin&a=edituser    [NC,L]

ErrorDocument 404 http://localhost/3/forum-cms/404
ErrorDocument 500 http://localhost/3/forum-cms/500