RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^home/?$    ?p=home    [NC,L]
RewriteRule    ^login/?$    ?p=login    [NC,L]
RewriteRule    ^logout/?$    ?p=logout    [NC,L]
RewriteRule    ^profile/?$    ?p=profile    [NC,L]
RewriteRule    ^about/?$    ?p=about    [NC,L]
RewriteRule    ^contact/?$    ?p=contact    [NC,L]
RewriteRule    ^404/?$    ?p=404    [NC,L]

# ADMIN PANEL LINKS
RewriteRule    ^admin/?$    ?p=admin    [NC,L]
RewriteRule    ^admin/adduser?$    ?p=admin&a=adduser    [NC,L]
RewriteRule    ^admin/news?$    ?p=admin&a=news    [NC,L]
RewriteRule    ^admin/style?$    ?p=admin&a=style    [NC,L]
RewriteRule    ^admin/editstyle/(.*)$    ?p=admin&a=editstyle&style=$1    [QSA]


# FORUM LINKS
RewriteRule    ^forum/?$    ?p=forum    [NC,L]
RewriteRule    ^forum/admin?$    ?p=forum&f=admin    [NC,L]
RewriteRule    ^forum/overview?$    ?p=forum&f=overview    [NC,L]
RewriteRule    ^forum/newthread/(\d+)?$    ?p=forum&f=newthread&c=$1    [QSA]
RewriteRule    ^forum/categorie/(\d+)?$     ?p=forum&f=categorie&c=$1    [QSA]
RewriteRule    ^forum/thread/(\d+)?$    ?p=forum&f=thread&t=$1    [QSA]

# FORUM ADMIN PANEL
RewriteRule    ^forum/admin/?$    ?p=forum&f=admin&fa=home    [NC,L]
RewriteRule    ^forum/admin/?$    ?p=forum&f=admin&fa=home    [NC,L]

ErrorDocument 404 http://localhost/forum-cms/404
ErrorDocument 500 http://localhost/forum-cms/500